.body {
  background-color: #FAFBFE !important;
}

.btn-primary {
  color: #FFF;
  background-color: #6e00ff;
  border-color: #6e00ff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.form-control-label {
  color: #3C4858;
  font-size: 0.875rem;
  font-weight: 600;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-merge .input-group-text {
  color: #C0CCDA;
  background-color: #FFF;
  border: 1px solid #E0E6ED;
}

.input-group-text {
  transition: all 0.2s ease;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
}

.input-group-merge .form-control:not(:first-child):not(.is-valid):not(.is-invalid) {
  border-right: 0;
  padding-right: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-merge .form-control {
  box-shadow: none;
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8492A6;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #E0E6ED;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);
  transition: all 0.2s ease;
}

.form-control:focus {
  border: 1px solid #E0E6ED;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.3;
  color: #3C4858;
}

.form-control-label {
  color: #3C4858;
  font-size: 0.875rem;
  font-weight: 600;
}
/* **************************** login **************************** */
.login{
  text-align: start;
  direction: rtl;
}
.login input{
  padding-inline-start: 1.25rem !important;
}
.login h6{
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  display: flex;
  align-items: center;
  color: #3667BF;
}
.login p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #3667BF;
}
.login .Forgot{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #3667BF;
}
.login button{
  background: #3667BF;
  border-radius: 4px;
  border: none;
  color: #fff;
  width: 100%;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  transition: .5s;
}
.login button:hover{
  background-color: #06243E;
}
.login .have-acount{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #06243E;
  text-align: start;
}
.login .have-acount a{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #3667BF;
}
@media (min-width: 992px){
  .login .offs {
    margin-inline-start: 8.33333333%;
  }
}
/* **************************** Header Dashboard **************************** */
.navbar {
  direction: rtl;
}
.dash-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: auto;
}
#navbarDropdown{
  display: flex;
  align-items: center;
}
#navbarDropdown i{
  font-size: 25px;
}
.dash-nav .nav-link{
  font-weight: 501;
}
@media (max-width:768px) {
  .dash-nav{
    flex-direction: column;
    align-items: flex-start;
  }
}

