
/* **************************** login **************************** */
.login{
    text-align: start;
  }
  .login input{
    padding-inline-start: 1.25rem !important;
  }
  .login h6{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #3667BF;
  }
  .login p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #3667BF;
  }
  .login .Forgot{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #3667BF;
  }
  .login button{
    background: #3667BF;
    border-radius: 4px;
    border: none;
    color: #fff;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    transition: .5s;
  }
  .login button:hover{
    background-color: #06243E;
  }
  .login .have-acount{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #06243E;
    text-align: start;
  }
  .login .have-acount a{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #3667BF;
  }
  @media (min-width: 992px){
    .login .offs {
      margin-inline-start: 8.33333333%;
    }
  }
  /* **************************** Header Dashboard **************************** */
  #navbarSupportedContent{
      justify-content: end;
  }
  .dash-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline-start: auto;
  }
  #navbarDropdown{
    display: flex;
    align-items: center;
  }
  #navbarDropdown i{
    font-size: 25px;
  }
  .dash-nav .nav-link{
    font-weight: 501;
  }
  @media (max-width:768px) {
    .dash-nav{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  /* **************************** Summarize Page **************************** */
  .btn-Create{
    background-color: #3667BF;
    color: #fff;
  }
  .btn-Create:hover{
    background-color: #06243E;
    color: #fff;
  }
  .btn-Quest{
    background-color: #fff;
    color: #3667BF;
    font-weight: bold;
  }
  .btn-Quest:hover{
    background-color: #C4DEF4;
    color: #06243E;
  }
  .Summarize {
    padding: 50px 0;
  }
  @media (max-width:768px) {
    .Summarize {
      padding: 50px 20px;
    }
  }
  .Summarize label h4,.Summarize label h3{
    font-weight: 501;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.5px;
    color: #06243E;
  }
  .Summarize textarea{
    resize: none;
    border: 2px solid #D4D7DB;
  }
  .Summarize select{
    height: 50px;
  }
  .Summarize .form-switch{
    padding: 0 !important;
  }
  .Summarize .form-switch label{
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #06243E;
    font-weight: 501;
  }
  .Summarize .form-switch .form-check-input{
    margin-inline-start: 10.5em;
  }
  .Summarize input:checked{
    background-color: #3667bf !important;
  }
  /* **************************** Create Blog Page **************************** */
  .side-form{
    background-color: #C4DEF4;
    padding: 20px !important;
    border-radius: 5px;
  }
  .button-title{
    text-align: end;
  }
  .bootstrap-select{
    width: 100% !important;
  }
  .bootstrap-select .dropdown-toggle .filter-option {
    text-align: start !important;
  }
  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%% components Two %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  .seclector{
    width: 216px;
    height: 56px;
    border: 1px solid #79747E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
  }
  .seclector.active{
    color: var(--hover_color);
  }
  .seclector i{
    transition: .5s;
  }
  .seclector .option{
    display: none;
    list-style: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    box-shadow: 0px 2px 10px #bbb8b8;
    border-radius: 5px;
    left: 0;
    top: 101%;
    z-index: 99;
    padding: 0;
  }
  .seclector .option li{
    line-height: 2;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
  }
  .seclector .option li:hover{
    background-color: #C4DEF4;
  }
  .seclector.active i{
    transform: rotateZ(180deg);
  }
  .seclector.active .option{
    display: block;
  }
  /* *************************** En & Ar Form ***************************** */
  .title_en,
  .body_en,
  .keyword_en,
  .meta_desc_en{
    position: relative;
    z-index: 10;
  }
  .title_ar,
  .body_ar,
  .keyword_ar,
  .meta_desc_ar{
    position: absolute;
    z-index: -1;
    opacity: 0;
    direction: rtl;
    text-align: start;
  }
  /* *************************** index create  ***************************** */
  .actions-toolbar h5{
    color: #06243E;
    font-weight: 501;
  }
  .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #C4DEF4;
  }
  .table td {
    vertical-align: baseline;
  }
  .table-striped th,.table-striped td{
    text-align: center;
  }
  .select2 {
    width: 322px !important;
  }
  .btn.dropdown-toggle.bs-placeholder.btn-light{
    display: none;
  }
