/* ============================== */
/*
	Title: Eduland Landing Page
	Autor: Coralixthemes
*/
/* ============================== */
#loader {
    visibility: hidden;
    width: auto;
}
#siteLoader {
    position: fixed;
    left: 45%;
    top: 45%;
    width: 50px;
    height: 50px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* ---------------------------------------------------------------------- */
/*	Import styles
 /* ---------------------------------------------------------------------- */

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Amiri:ital@1&family=Caveat:wght@700&family=Courgette&family=Dancing+Script:wght@700&family=Tajawal&display=swap");

/*CSS Animations*/
@import url("animate-custom.css");

/*Videoplayer*/
@import url("YTPlayer.css");

:root {
    --main_color:  #3667BF;
    --hover_color: #06243E;
}
body a,body h1,body h2,body h3,body h4,body h5,body span,body div,body li,body p{
    font-family: 'Alegreya', serif;
    font-family: 'Amiri', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Tajawal', sans-serif !important;
}
/* ---------------------------------------------------------------------- */
/*	Custom styles
 /* ---------------------------------------------------------------------- */
a{
    text-decoration: none;
    outline: none;
}
a:focus {
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: none;
    outline: none;
}
.ov-hi{
    overflow: hidden;
}
body{
    background: #fff;
    font-family: 'Raleway', sans-serif;
    color: #8495a5;
    
}
footer {
    background: #027bef;
    color: #fff;
    text-align: center;
    padding: 15px;
}
footer h6 {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}
ul{
    padding: 0;
    list-style: none;
}
footer ul {
    list-style: none;
}
footer ul li {
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    color: #46627e;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
iframe {
    border: 0;
}
img {
    width: 100%;
}
p{
    color: #8495a5;
    font-size: 14px;
    font-weight: normal;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%% components One %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.main-button{
    padding: 12px 24px;
    width: 170px;
    height: 48px;
    background: #3667BF;
    box-shadow: 0px 4px 18px rgba(54, 103, 191, 0.45);
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
}
.main-button a{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.main-button i{
    margin-inline-start: 15px;
    transition: .5s;
    transform: rotateZ(180deg);
}
.main-button:hover a{
    color: #fff;
}
.main-button:hover i{
    margin-inline-start: 25px;

}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%% components Two %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.seclector{
    width: 216px;
    height: 56px;
    border: 1px solid #79747E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
}
.seclector.active{
    color: var(--hover_color);
}
.seclector i{
    transition: .5s;
}
.seclector .option{
    display: none;
    list-style: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    box-shadow: 0px 2px 10px #bbb8b8;
    border-radius: 5px;
    left: 0;
    top: 101%;
    z-index: 99;
    padding: 0;
}
.seclector .option li{
    line-height: 2;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
}
.seclector .option li:hover{
    background-color: #C4DEF4;
}
.seclector.active i{
    transform: rotateZ(180deg);
}
.seclector.active .option{
    display: block;
}
/* *************************** new Start Header ***************************** */
header{
    direction: rtl;
}
.navbar {
    margin: 0;
    padding: 10px 0;
}
.navbar-header {
    float: right;
  }
  .navbar-toggle {
    float: left;
}
.navbar .logo{
    min-height: 60px;
    display: flex;
    align-items: center;
}
.navbar .logo img{
    max-width: 60px;
    color: var(--hover_color);
}
@media (min-width:768px) {
    .navbar .logo img{
        max-width: 80px;
    } 
    .navbar .logo {
        animation-name: logo-anim;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
    }
    @keyframes logo-anim {
        0% {
        }
        5%,25% {
           scale: 1.5;
           transform: translate(10px,10px);
        }
        15%,35% {
            scale: 1;
            transform: translate(0px,0px);
    
        }
        40% {
      }
      }
}
.navbar li a{
    color:  var(--main_color);
    font-size: 17px;
    font-weight: 600;
}
.navbar li a:hover{
    color: var(--hover_color);
    background-color: #fff;
}
.navbar .nav{
    display: flex;
    align-items: center;
}
.navbar .login{
    padding: 8px 16px;
    height: 40px;
    border: 2px solid var(--hover_color);
    border-radius: 4px;
    color: var(--hover_color);
}
.navbar .login:hover{
    background-color: var(--hover_color);
    color: #fff;
}
@media (max-width:767.98px) {
    .navbar .login{
        margin-inline-start: 14px;
    }  
}
.language a{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color:  var(--main_color);
}
.language a:hover{
    color: var(--hover_color);
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}
.dropbtn {
    color: var(--main_color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.dropdown:hover .dropbtn{
    color: var(--hover_color);
}
.dropdown-content {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    width: 827px;
    height: 384px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(6, 36, 62, 0.3);
    border-radius: 16px;
    transform: translateX(35%);
    display: flex;
    opacity: 0;
    z-index: -1;
    transition: .5s;
}

.dropdown-content .category-name{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: .3s;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.dropdown-content .category-name:hover,.dropdown-content .active{
    background-color: #87A2B9;
    border-radius: 5px;
    color: var(--hover_color);
}
.dropdown:hover .dropdown-content {
    opacity: 1;
    z-index: 501;
}
.men-fs {
    display: none;
    position: fixed;
    min-width: 160px;
    z-index: 501;
    border-radius: 3px;
    padding: 5px;
    padding-inline-start: 50px;
    border-right: 2px solid #C3D1EC;
    top:30px;
}
.men-fs div{
    color: var(--main_color);
    transition: .3s;
    font-weight: 500;
    width: calc(100% /3);
    text-align: start;
}
.men-fs div:hover{
    text-decoration: underline;
    color:var(--hover_color);
}
/* .dropdown-content a:hover .men-fs{
    display: flex;
    flex-wrap: wrap;
    left: 160px;
    width: 600px;
    height: 350px;
} */
.dropdown-content .active .men-fs{
    display: flex;
    flex-wrap: wrap;
    right: 160px;
    width: 600px;
    height: 350px;
}
.dropdown:hover + .cover-acount{
    display: block;
    
}
@media (max-width:992px) {
    .dropdown-content {
    width: 700px;
    transform: translateX(20%);
    }
}
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar li a {
        font-size: 13px;
      }
      .dropbtn {
        font-size: 13px;
      }
}
@media (max-width: 767px) {
    .sm-lang{
        position: absolute;
        left: 10px;
        top: 80px;
    }
    .navbar-header {
        float: none;
      }
    .navbar{
        padding: 20px;
    }
    .navbar .nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding: 0;
      }
      .navbar-toggle {
        padding: 10px 5px;
        margin-right: 0;
    }
    .navbar-toggle span{
        background-color: var(--hover_color);
        width: 30px;
        height: 3px;
    }
      .navbar-collapse{
          padding: 0;
          overflow: visible;
      }
      .dropbtn{
        padding: 10px 15px;
      }
      .acoount {
        width: 90px !important;
        padding: 10px 15px;
      }
      .dropdown-content {
        width: 90%;
        transform: translateX(0);
        position: fixed;
        padding: 15px;
        }
        .active .men-fs {
            overflow-y: scroll !important;
            display: block !important;
            right: 115px !important;
            height: 300px !important;
            padding-inline-start: 20px !important;
        }
        .men-fs div{
            width: 100% !important;
            display: block !important;
        }

}
/* acount and user */
.acoount{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}
 .cover-acount{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.281);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    display: none;
}
.acoount ul{
    padding: 0;
    list-style: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    top: 100%;
    right: 0;
    transition: .5s;
    opacity: 0;
    z-index: -1;
    display: flex;
    width: 143px;
    height: 128px;
    background: #FFFFFF;
    border-radius: 8px;
}
@media (max-width:768px) {
    .acoount ul{
        left: 0;
    }
}
.acoount ul a{
    width: 100%;
    border-radius: 3px;
    transition: .3s;
    padding: 5px 15px;
}
.acoount ul a:hover{
    background-color: #A9C5DE;
}
.acoount ul a:hover li{
    background-color: transparent;
}
.acoount ul a li{
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: var(--hover_color);
}
.acoount:hover ul{
    z-index: 500;
    opacity: 1;
}
.acoount:hover + .cover-acount{
    display: block;
    
}
.acoount2{
    width: auto !important;
}
.acoount2 ul{
    width: 150px;
}
/* *************************** end  Header ********************************** */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Home Page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* ********************************** Start About-us ********************************** */
.About-us{
    direction: rtl;
}
.About-us h1{
    color: var(--main_color);
    font-weight: 700;
    font-size: 57px;
    line-height: 72px;
    letter-spacing: -0.25px;
}
.About-us h3{
    color: var(--main_color);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.25px;
}
.About-us p{
    color: var(--hover_color);
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 40px 0;
}
.About-us .p2{
    color: var(--hover_color);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 40px 0;
}
.About-us .contain{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

@media (max-width: 767.98px) {
    .About-us .contain{
        display: block;
        text-align: center;
    }
    .About-us .main-button{
        margin: 0 auto;
    }
    .About-us .contain2{
        display: flex;
        flex-direction: column-reverse;
    }
}
/* *************************** end  About-us ********************************** */
.features{
    background-color: #C4DEF4;
    padding: 20px 0 40px;
    position: relative;
    direction: rtl;
}
.features .title-heading{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 57px;
    line-height: 72px;
    letter-spacing: -0.25px;
    color: rgba(54, 103, 191, 0.1);
    top: -15px;
}
.features h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--main_color);
    text-align: center;
    margin-bottom: 40px;
}
.features .p2{
    color: var(--hover_color);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 40px 0;
    margin-top: 315px;
}
.features .item{
    display: flex;
    margin-bottom: 25px !important;
}
.features .item img{
    width: 50px;
    margin-inline-end: 25px;
}
.features .item h2{
    color: #06243E;
}
.features .item .p2{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #06243E;
}
.features .con-im{
    position: relative;
}
.features .con-im img{
    position: absolute;
    max-width:80%
}
.features .im1{
    transition: .5s;
    opacity: 1;
}
.features .im2{
    transition: .5s;
    opacity: 0;
}
.features:hover .im1{
    opacity: 0;
}
.features:hover .im2{
   opacity: 1;
}
@media (max-width: 767.98px) {
    .features{
        text-align: center;
    }
.features .main-button{
    margin: 0 auto;
}
.features .item{
    flex-direction: column;
}
.features .item img{
    margin-inline-end: 0;
    margin: 25px auto -10px;
}
.features .con-im{
    display: flex;
    flex-direction: column;
}
.features .con-im img{
    max-width: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.features .p2{
    margin-top: 230px;
}
}

/* *************************** end  features ********************************** */
/* *************************** Start  our-team ********************************** */
.our-team{
    direction: rtl;
}
.our-team .title h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #3667BF;
    margin-bottom: 40px;
}
.our-team .contain-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-team .item{
    padding: 16px;
    background: #C4DEF4;
    border-radius: 16px;
    display: flex;
    width: calc(98% /2);
    min-height: 180px;
    height: auto;
    margin-bottom: 30px;
}
@media (max-width:991.98px) {
    .our-team .item{
        width: 80%;
        margin: 20px auto;
    }
}
.our-team .item img{
    width: 135px;
    border-radius: 8px;
    margin-inline-end: 15px;
    transition: .5s;
}
.our-team .item:hover img{
    transform: rotateZ(-5deg);
    scale: 1.1;
}
.our-team .item .class_title h2{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #06243E;
    margin-top: 0;
    margin-bottom: 5px;
}
.our-team .item .description p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #06243E;
}
@media (max-width: 767.98px) {
    .our-team .item{
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 180px;
        height: auto;
    }
    .our-team img{
        margin: 0 !important;
        margin: 0 auto 25px !important;
    }
}
/* *************************** end  our-team ********************************** */
/* *************************** end Blog ********************************** */
.post .swiper1 .swiper-pagination{
    position: relative;
    margin-top: 25px;
   }
   .swiper-pagination-bullet-active{
       background:#06243E;
   }
   .post{
       overflow: hidden;
       direction: rtl;
   }
   .post .head {
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 25px;
   }
   .post .head h2{
       font-weight: 700;
       font-size: 36px;
       line-height: 46px;
       color: #3667BF;
   }
   .post .swiper1{
       margin-bottom: 80px;
   }
   .post .swiper1 img{
       border-radius: 8px;
   }
   .post .swiper1 .swiper-slide{
       padding: 15px;
       border-radius: 8px;
       transition: .5s;
       cursor: pointer;
   }
   .post .swiper1 .swiper-slide:hover{
       box-shadow: 0px 0px 13px #c4def4;
   
   }
   .post .swiper1 .title{
       font-weight: 500;
       font-size: 16px;
       line-height: 24px;
       letter-spacing: 0.1px;
       color: #000000;
   }
   .post .swiper1 .date{
    display: flex;
   justify-content: space-between;
   width: 50%;
   }
   .post .swiper1 span{
       font-weight: 500;
       font-size: 12px;
       line-height: 16px;
       letter-spacing: 0.5px;
       color: #87A2B9;
   }
   
   .post .con-sw{
       height: 422px;
       overflow: hidden;
       background-color: #c4def4;
       padding: 20px 70px;
       border-radius: 16px;
   }
   .rev-hom{
    box-shadow: 2px 8px 14px #b3b3b3;
    animation-name: rev-home;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.rev-hom:hover{
    animation-play-state: paused;
}
@keyframes rev-home {
    0% {transform: translateY(0px);}
    50% {transform: translateY(25px);}
    100% {transform: translateY(0px);}
  }
   .post .swiper2 .swiper-pagination{
       position: absolute;
       left: 20px;
      }
   .post .swiper2 .swiper-wrapper{
       height: 422px;
      }
   .post .swiper2 .info{
       display: flex;
       align-items: center;
   }
   .post .swiper2 .info i{
       margin-inline-end: 15px;
   }
   .post .swiper2 .info h2{
       font-weight: 500;
       font-size: 16px;
       line-height: 22px;
       color: #06243E;
       letter-spacing: 0.5px;
       margin: 0;
       
   }
   .post .swiper2 .info p{
       font-weight: 400;
       font-size: 12px;
       line-height: 16px;
       letter-spacing: 0.4px;
       color: #06243E;
   }
   .post .swiper2 .info2{
       margin-top: -15px;
   }
   .post .swiper2 .info2 h2{
       font-weight: 600;
       font-size: 18px;
       line-height: 24px;
       letter-spacing: 0.1px;
       color: #06243E;
   }
   .post .swiper2 .info2 p{
       font-weight: 400;
       font-size: 14px;
       line-height: 20px;
       letter-spacing: 0.25px;
       color: #06243E;
       }
   .con-sf{
       margin-top: 100px;
       margin-inline-start:60px
   }
   .con-sf h2{
       font-weight: 600;
       font-size: 32px;
       line-height: 40px;
       color: #06243E;
   }
   .con-sf p{
       font-weight: 600;
       font-size: 24px;
       line-height: 32px;
       color: #87A2B9;
   }
@media (max-width: 767px) {
    .con-sf{
        text-align: center;
       margin-inline-start:0
    } 
    .con-sf .main-button{
        margin: 20px auto;
    }
}
   /* *************************** end  Blog ********************************** */
   /* *************************** Start our-price ********************************** */
   .our-price {
       direction: rtl;
   }
.our-price .title h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #3667BF;
    text-align: center;
    margin-bottom: 30px;
}
.our-price .contain-prices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.our-price .item{
    padding: 16px 32px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px 1px rgba(54, 103, 191, 0.16);
    border-radius: 16px;
    margin: 10px;
    width: 260px;
    transition: .5s;
    }
    .our-price .item:hover{
    box-shadow:0px 5px 16px 1px rgba(54, 103, 191, 0.52);
    }
.our-price .item ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.our-price .item ul li{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #06243E;
    padding: 5px 0;
}
.our-price .item .table-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.our-price .item .table-price{
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #3667BF;
    margin-bottom: 20px;

}
.our-price .item .table-button{
    background: #FFFFFF;
    box-shadow: 0px 5px 16px 1px rgba(54, 103, 191, 0.16);
    border-radius: 16px;
    width: 100%;
    transition: .5s;
    margin-bottom: 20px;
}
.our-price .item .table-button{
    background: #FFFFFF;
    border-radius: 16px;
    width: 100%;
    transition: .5s;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #3667bf;
}
.our-price .item .table-button:hover{
    background: #3667BF;
    color: #fff;
}
.our-price .item .table-button a{
    font-weight: bold;
    color: #3667BF;
    font-size: 18px;
}
.our-price .item .table-button:hover a{
    color: #fff;
}
.our-price .item hr{
    margin: 0;
    border-color: #c4def4;
}
/* *************************** end our-price ********************************** */
/* *************************** Start more-about ********************************** */
.more-about{
    padding: 40px 0;
    direction: rtl;
}
.more-about .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #3667BF;
    text-align: center;
    margin-bottom: 30px;
}
.more-about .contain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more-about .contain .item{
    padding: 10px 30px;
    width: 550px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(54, 103, 191, 0.12);
    border-radius: 8px;
    color: #06243E;
    transition: .5s;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:1200px) {
    .more-about .contain .item{
        width: 460px;
    }  
}
@media (max-width:991.98px) {
    .more-about .contain{
        justify-content: space-around;
    }
    .more-about .contain .item{
        width: 80%;
    }  
}
.more-about .contain .item .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.more-about .contain .item .head .ic2{
   display: none;
}
.more-about .contain .item.active .head .ic2{
    display: block;
}
.more-about .contain .item.active .head .ic1{
    display: none;
}
.more-about .contain .item .info{
    display: none;
}
.more-about .contain .item .info p{
    margin: 10px 0 10px;
    display: flex;
}
.more-about .contain .item.active .head{
    border-bottom: 1px solid #06243E;
}
.more-about .contain .item.active .info{
    display: block;
    width: 100%;
}

.more-about .contain .item.active{
    background-color: #C4DEF4;
    min-height: 320px;
    height: auto;
}
.more-about .contain .item h3{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #06243E;
    width: 90%;
}
.more-about .contain .item i{
    padding: 10px;
    border-radius: 8px;
    transition: .5s;
    cursor: pointer;
    font-size: 18px;
}
.more-about .contain .item i:hover{
    background-color: #c4def4;
}
/* *************************** end more-about ********************************** */
/* *************************** Start contact ********************************** */
.contact-us{
    padding: 40px 0;
    direction: rtl;
}
.contact-us .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #3667BF;
    text-align: center;
    margin-bottom: 30px;
}
.contact-us .con1 {
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
}
.contact-us .con1 img{
    max-width: 80%;
}
.contact-us .con2 {
    display: flex;
    justify-content: end;
 }
 .contact-us .con2 input{
    width: 401px;
    height: 56px;
    border: 1px solid #79747E;
    border-radius: 4px;
    margin: 0 0 0 auto ;
    margin-bottom: 20px;
 }
 .contact-us .con2 select{
    width: 401px;
    height: 56px;
    border: 1px solid #79747E;
    border-radius: 4px;
    margin: 0 0 0 auto ;
    margin-bottom: 20px;
 }
 .contact-us .con2 button{
    padding: 12px 24px;
    width: 175px;
    height: 48px;
    background: var(--main_color);
    border-radius: 4px;
    transition: .5s;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border: none;
 }
 .contact-us .con2 button:hover{
    background: var(--hover_color);
 }
 @media (min-width:1199.98px) {
    .contact-us .con2 button{
        margin-inline-end: 135px;
    }
 }
  
 @media (max-width:767.98px) {
    .contact-us .con2 {
        justify-content: center;
      }
 }
/* *************************** end contact ********************************** */
/* *************************** Start footer ********************************** */
.footer{
    background: #C4DEF4;
    padding: 40px;
    color: var(--hover_color);
    direction: rtl;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
}
.footer .pay{
    display: flex;
}
.footer h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #06243E;
    text-align: start;
}
.footer .link {
    text-align: start;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 275px;
}
.footer .link li{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #06243E;
    margin: 10px 0;
    transition: .5s;
}
.footer .link li:hover{
    text-decoration: underline;
}
@media (max-width:767.98px) {
   
    .footer .link {
        height: auto;
        flex-direction: row;
      }
      .footer .link li{
        width: 100px;
      }
}
.footer h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #06243E;
}
.footer .pay-icon{
    display: flex;
}
.footer .pay-icon a{
margin: 0 5px;
}
.footer .pay-icon img{
    width: 50px;
}
.footer .social-mediav i{
    font-size: 20px;
}
.footer .Support{
    display: flex;
    justify-content: space-around;
}
.footer .Support a{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #06243E;
}
.footer .Support a:hover{
   text-decoration: underline;
}
@media (max-width:767.98px) {
.footer .other{
    display: inline-flex;
    width: 48%;
    flex-direction: column;
}
.footer .pay,.footer .social-mediav,.footer .Support{
    display: inline-flex;
    width: 48%;
    flex-direction: column;
}
.footer .pay h4,.footer .Support{
    text-align: start;
}
.footer .social-mediav{
    flex-direction: row;
}
}
@media (max-width:567.98px) {
    .footer .social-mediav i{
        font-size: 16px;
    }
}
/* *************************** end footer ********************************** */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Gallery Page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.gallery{
    direction: rtl;
}
.gallery .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--main_color);
}
.gallery .filter-gall{
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.gallery .filter-gall h2{
    color: var(--main_color);
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-inline-end: 15px;
}
.gallery .filter-gall .shapes{
    display: flex;
    align-items: center;
}
@media (max-width:568px) {
    .gallery .filter-gall{
        display: flex;
        flex-direction: column;
    } 
    .gallery .filter-gall .shapes{
        margin: 20px 0;
    }
}
.gallery .filter-gall .shapes span{
    background-color: #fff;
    padding: 10px;
    color: var(--main_color);
    font-weight: 600;
    margin-inline-end: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    transition: .5s;
}
.gallery .filter-gall .shapes span i{
    display: none;
}
.gallery .filter-gall .shapes span:hover{
    background-color: var(--hover_color);
    color: #fff;
    border-color: var(--hover_color);
}
.gallery .filter-gall .shapes span.active{
    background-color: var(--hover_color);
    color: #fff;
    border-color: var(--hover_color);
}
.gallery .filter-gall .shapes span.active i{
    display: block;
}
.gallery .title .rig{
    font-size: 18px;
    line-height: 24px;
}
.gallery .contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery .contain .item{
    width: calc(98% /4);
    margin-bottom: 25px;
}
.gallery .contain .item h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #000000;
}
.gallery .contain .item .date{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #87A2B9;
}
@media (max-width:991.98px) {
    .gallery .contain .item{
        width: calc(98% /3);
        margin-bottom: 25px;
    } 
}
@media (max-width:567.98px) {
    .gallery .contain .item{
        width: calc(98% /2);
        margin-bottom: 25px;
    } 
}
@media (max-width:380.98px) {
    .gallery .contain{
        justify-content: space-around;
    }
    .gallery .contain .item{
        width: calc(95% );
        margin-bottom: 25px;
    } 
}
.gallery .contain .item iframe{
    width: 100%;
}
.gallery .contain .item img{
    width: 100%;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Gallery Watch video &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.watch-video .con1 {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}
.watch-video .cun{
    display: flex;
}
.watch-video .con1 iframe{
    width: 100%;
    height: 400px;
}
.watch-video .con1 h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #000000;
}
.watch-video .con1 .date{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #87A2B9;
}
.watch-video .con2 .item h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0;
}
.watch-video .con2 .item .date{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #87A2B9;
}
.watch-video .con2 .item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.watch-video .con2 .item .info{
    display: grid;
}
.watch-video .con2 .item iframe{
    width: 150px;
    height: 100px;
    margin-inline-end: 10px;
}
@media (max-width:400px) {
    .watch-video .con1 iframe{
        height: 300px;
    }  
    .watch-video .con2 .item {
        display: flex;
        align-items: flex-start;
        margin: 15px 0;
        flex-direction: column;
      }
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Rebiew Page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
@media (max-width: 767.98px){
    .reviewss .contain2 {
      flex-direction: column !important;
    }
    }
    .form-cover{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.377);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: .5s;
    }
    .form-cover2{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.377);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -1;
        transition: .5s;
    }
    .form-cover.active{
        z-index: 100;
        opacity: 1;
    }
    .form-review{
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .5s;
        opacity: 0;
        z-index: -1;
    }
    .form-review .div1{
        width: 511px;
        height: 422px;
        background: #FFFFFF;
        border-radius: 28px;
        text-align: center;
        padding: 24px;
        flex-direction: column;
        display: flex;
        opacity: 1;
        position: relative;
        z-index: 2;
    }
    .reviewss .info .div2{
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .5s;
        width: 398px;
        height: 264px;
        background: #FFFFFF;
        border-radius: 28px;
        text-align: center;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;
    }
    .reviewss .info .div2 i{
       color: #fff;
       padding: 10px;
       background-color: #3667bf;
       border-radius: 50%;
    }
    @media (max-width:567px) {
        .form-review{
            width: 90%;
            top: 50%;
        }
        .form-review .div1,.reviewss .info .div2{
            width: 100%;
        }
    }
    .form-review.active{
        opacity: 1;
        z-index: 101;
    }
    .form-review h2{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin: 0 ;
    }
    .form-review p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #49454F;
        margin: 20px 0 !important;
    }
    .form-review input{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        resize: none;
        border: 1px solid #6f6a6a;
        outline: none;
    }
    .form-review textarea{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        resize: none;
        border: 1px solid #6f6a6a;
        outline: none;
    }
    .form-review button{
        background-color: var(--main_color);
        color: #fff;
        padding: 10px;
        border: none;
        font-weight: bold;
        border-radius: 5px;
        transition: .5s;
    }
    .form-review button:hover{
        background-color: var(--hover_color);
    }
    .reviewss .review{
        margin: 25px 0;
    }
    .review .filter {
        display: flex;
        align-items: center;
    }
    .review .filter span{
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: var(--main_color);
        margin-inline-end: 16px;
    }
    .review .rev {
        margin: 40px 0;
    }
    .review .rev h2,.review .rev p {
        margin: 0;
    }
    .review .rev .info{
        display: flex;
        align-items: center;
    }
    .review .rev .info i{
      margin-inline-end: 15px;
    }
    .review .rev .info h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #06243E;
    }
    .review .rev .info p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #06243E;
    }
    .review .rev .deisc{
        margin-inline-start: 55px;
        text-align: start;
    }
    .review .rev .deisc h2{
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #06243E;
        margin: 15px 0;
    }
    .review .rev .deisc p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #06243E;
    }
    @media (max-width:567px) {
        .review{
            width: 100%;
        }
        .review .filter {
            flex-direction: column;
        }
        .review .filter .seclector{
            margin-top: 15px;
        }
    
    }
    /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Blogs-List Page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.blogs-list {
    direction: rtl;
}
.blogs-list .row{
    display: flex;
}
.blogs-list .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--main_color);
}
.blogs-list .title .rig{
    font-size: 18px;
    line-height: 24px;
}
.blogs-list .sidebar{
    padding: 24px;
    border: 1px solid #87A2B9;
    border-radius: 16px;
    width: 100%;
}
.blogs-list .sidebar input{
    border: 1px solid #79747E;
    border-radius: 4px;
    outline: none;
    width: 239px;
    height: 40px;
    padding: 10px;
}
.blogs-list .sidebar button{
    padding: 5px;
    width: 40px;
    height: 40px;
    background: #3667BF;
    border-radius: 4px;
    color: #fff;
    border: none;
}
.blogs-list .sidebar h3{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: var(--hover_color);
}
.blogs-list .sidebar ul{
    list-style: none;
    padding: 0;
}
.blogs-list .sidebar ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: var(--main_color);
}
.blogs-list .sidebar ul li span{
    color: #F4B400;
}
.blogs-list .sidebar .tags ul{
    display: flex;
    flex-wrap: wrap;
}
.blogs-list .sidebar .tags li{
    padding: 4px 8px;
    border: 1px solid var(--main_color);
    border-radius: 4px;
    margin-inline-end: 8px;
    transition: .5s;
}
.blogs-list .sidebar .tags li:hover{
    background-color: var(--main_color);;
    color: #fff !important;
}
.blogs-list .sidebar .tags li:hover a{
    color: #fff !important;
}
.blogs-list .blog-item{
    width: 60%;
    margin: 0 auto 40px auto;
}
.blogs-list .blog-item img{
    border-radius: 8px;
    transition: .5s;
}
.blogs-list .blog-item h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #000000;
    transition: .5s;
}
.blogs-list .blog-item .date{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #87A2B9;
}
.blogs-list .blog-item .date span{
    margin-inline-end: 24px;
}
.blogs-list .blog-item:hover img{
    filter: drop-shadow(8px 8px 10px gray);
}
.blogs-list .blog-item:hover h2{
    text-decoration: underline;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Blog-Details Page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.blog {
    padding: 40px 0 20px 0;
    direction: rtl;
}
.blog .row{
    display: flex;
}
.blog .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--main_color);
}
.blog .title .rig{
    font-size: 18px;
    line-height: 24px;
}
.blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
    max-height: 400px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.blog .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
    color: #111;
    transition: 0.3s;
}

.blog .entry .entry-title a:hover {
    color: #428bca;
}

.blog .entry .entry-meta {
    margin-bottom: 15px;
    color: #aaaaaa;
}

.blog .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog .entry .entry-meta ul li + li {
    padding-left: 20px;
}

.blog .entry .entry-meta i {
    font-size: 14px;
    padding-right: 4px;
}

.blog .entry .entry-meta a {
    color: #5e5e5e;
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    transition: 0.3s;
}

.blog .entry .entry-meta a:hover {
    color: #428bca;
}

.blog .entry .entry-content p {
    line-height: 24px;
}

.blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
}

.blog .entry .entry-content .read-more a {
    display: inline-block;
    background: #428bca;
    color: #fff;
    padding: 7px 25px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
    background: #236baa;
}

.blog .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
    color: #4d4643;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 36px;
    color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 36px;
    color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #111;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
    color: #5e5e5e;
    display: inline;
}

.blog .entry .entry-footer a {
    color: #8b8b8b;
    transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
    color: #428bca;
}

.blog .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.blog .entry .entry-footer .cats li {
    display: inline-block;
}

.blog .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.blog .entry .entry-footer .tags li {
    display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.blog .entry .entry-footer .share {
    font-size: 16px;
}

.blog .entry .entry-footer .share i {
    padding-left: 5px;
}

.blog .entry-single {
    margin-bottom: 30px;
}

.blog .blog-author {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
    width: 120px;
}

.blog .blog-author h4 {
    margin-left: 140px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
}

.blog .blog-author .social-links {
    margin: 0 0 5px 140px;
}

.blog .blog-author .social-links a {
    color: #777777;
}

.blog .blog-author p {
    margin-left: 140px;
    font-style: italic;
    color: #bfb9b6;
}

.blog .blog-comments {
    margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
    font-weight: bold;
}

.blog .blog-comments .comment {
    margin-top: 30px;
    position: relative;
}

.blog .blog-comments .comment .comment-img {
    width: 50px;
}

.blog .blog-comments .comment h5 {
    margin-left: 65px;
    font-size: 16px;
    margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
    font-weight: bold;
    color: #4d4643;
    transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
    color: #428bca;
}

.blog .blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: #111;
}

.blog .blog-comments .comment time {
    margin-left: 65px;
    display: block;
    font-size: 14px;
    color: #777777;
    margin-bottom: 5px;
}

.blog .blog-comments .comment p {
    margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
    padding-left: 40px;
}

.blog .blog-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
}

.blog .blog-comments .reply-form p {
    font-size: 14px;
}

.blog .blog-comments .reply-form input {
    border-radius: 0;
    padding: 20px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.blog .blog-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #236baa;
}

.blog .blog-comments .reply-form textarea {
    border-radius: 0;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.blog .blog-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #236baa;
}

.blog .blog-comments .reply-form .form-group {
    margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #428bca;
}

.blog .blog-comments .reply-form .btn-primary:hover {
    background-color: #236baa;
}

.blog .blog-pagination ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.blog .blog-pagination li a {
    padding: 7px 16px;
    display: inline-block;
    color: #428bca;
}

.blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #111;
    position: relative;
    text-align: start;
}

.blog .sidebar .sidebar-item {
    margin-bottom: 30px;
    text-align: start;
}

.blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
    border-radius: 4px;
}

.blog .sidebar .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #428bca;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

.blog .sidebar .search-form form button:hover {
    background: #236baa;
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li + li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    color: #2b2b2b;
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: #428bca;
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
    color: black;
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: #428bca;
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #777777;
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    color: #515151;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #dddddd;
    display: inline-block;
    transition: 0.3s;
    border-radius: 4px;
}

.blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #428bca;
    background: #428bca;
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}

/*-------------------------------------------------------------- */
